<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../php/webserver/php/item.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome.css">
</head>
<body>

<!--start item frame-->
<div class="item-frame">
    <div class="top-item-frame">ITEM NAME</div>
    <div class="picture-item-frame"><img src="183.jpg"> </div>
    <div class="price-item-frame">PRICE</div>
    <div class="button-item-frame">
        <button href="" class="button-css">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i><a>ADD TO CART</a></button>
    </div>
</div>
<!--end item frame-->

</body>
</html>