<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="../../css/bulma.css">
</head>
<body>

<div class="login-frame">
    <div class="login-frame-top">
        <span>Login or <a href="register.php">Register</a></span>
    </div>
    <div class="login-frame-form">
        <form action="login.php" method="post">
            <input type="text" placeholder="Username" name="username" id="login-width">
            <input type="password" placeholder="Password" name="password" id="login-width1">
            <input type="submit" name="submit" value="Login" id="login-button">
        </form>
    </div>
</div>

</body>
</html>