.cartContainer {
    width:45%;
    margin:auto;

}
#title {
    /*position:relative;*/
    text-align:center;
    font-size:25px;
    color: #fffbeb;
    margin-top:20px;
}
.Shopitem {
    margin-top:10px;
    border-radius: 4px;
    width:100%;
    background-color: #8a9c9d;
    padding:20px;
    display:flex;
    /*justify-content:center;*/
    /*height:64px;*/
    -webkit-box-shadow: 10px 10px 21px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px -13px rgba(0,0,0,0.75);
}
#imgshopitem {
    width:128px;
    height:100%;
}
.removeButtonCSS {
    position:relative;
}
.removeButtonCSS:before {
    content: "\25AE";
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
    top:0;
}
#flexleft {
    display:flex;
    justify-content:center;
}
#flexright {
    display:flex;
    justify-content:flex-end;
}
#plus, #minus {
    transition:300ms;
    color:black;
    cursor:pointer;
    font-size:25px;
}
#plus:hover, #minus:hover {
    font-size:27px;
    transition:300ms;
    color:gray;

}