.wrapper {
    width:65%;
    margin:auto;
}

body {
    background-color:#161619;
}
.content p, .content h1, .content strong, .content h2 , .content a{
    color:#fffbeb !important;
    border-bottom:none !important;
}
.container {
    text-align:center;
}
/*FOOTER */
.footer {
    background-color: #161619 !important;
    /*color: #fffbeb;*/
    border-bottom-color: transparent;
}

.footer strong {
    color: #fffbeb;
}

.footer i {
    transition: 300ms;
    color: #fffbeb;

}

.footer i:hover {
    transition: 300ms;
    color: #EE424B !important;
}

.footer a {
    border-bottom-color: transparent !important;
}

/*FOOTER*/

#redline {
    border-top: 2px solid #EE424B;
}

#githubicon {
    transition: 300ms;
}
#githubicon:hover {
    transition: 300ms;
    color: #EE424B;
}

#navcolor {
    background-color: #222329;
}

.nav-item.is-noactive {
    transition: 300ms;
    color: #fffbeb;
    border-bottom:none ;
}
.nav-item.is-noactive:hover {
    transition: 300ms;
    color:#EE424B;
    border-bottom:2px #EE424B solid;
}
.nav-item.is-yesactive {
    transition: 300ms;
    color: #fffbeb;
    border-bottom:none;
}
.nav-item.is-yesactive:hover {
    transition: 300ms;
    color:#EE424B !important;
    border-bottom:none;
}
@media screen and (min-width:768px) {
    .nav-item.is-yesactive {
        border-bottom:none !important;
    }
    .nav-item.is-yesactive:hover {
        border-bottom: 2px #EE424B solid !important;
    }
}

.nav {
    height: 75px;
    background-color: #222329;
}

#nav-toggle {
    align-self: center;
    padding-top: 75px;
    background-color:#222329;
}

.nav-toggle span {
    transition: 300ms;
    background-color: white !important;
}

.nav-toggle:hover span {
    transition: 300ms;
    background-color: black !important;
}

.nav-toggle.is-active:hover span {
    transition: 300ms;
    background-color: black !important;
}

.nav-toggle:hover {
    transition: 300ms;
    background-color: whitesmoke !important;
}

.nav-toggle.is-active span {
    transition: 300ms;
    background-color: whitesmoke !important;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        background-color: #222329 !important;
    }

}

#logoezskins {
    width: 144px;
    height: 51px;
}

.nav-item img {
    max-height: 51px !important;
}

#navcolor {
    background-color: #222329;
}

#githubicon {
    transition: 300ms;
}

#githubicon:hover {
    transition: 300ms;
    color: #a2a3a0;
}

#navitemcolor {
    transition: 300ms;
    color: white;
    border-bottom:none;
}

#navitemcolor:hover {
    transition: 300ms;
    color: #EE424B;
    border-bottom:2px solid #EE424B;
}

.nav {
    height: 75px;
    background-color: #222329;
}

#redline {
    border-top: 2px solid #EE424B;
}

.nav-right {
    background-color: #222329;
}

#nav-toggle {
    align-self: center;
    padding-top: 75px;
}

.nav-toggle span {
    transition: 300ms;
    background-color: white;
}

.nav-toggle:hover span {
    transition: 300ms;
    background-color: black;
}

.nav-toggle.is-active:hover span {
    transition: 300ms;
    background-color: black;
}

.nav-toggle:hover {
    transition: 300ms;
    background-color: whitesmoke;
}

.nav-toggle.is-active span {
    transition: 300ms;
    background-color: whitesmoke;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        background-color: #222329;
    }

}

#logoezskins {
    width: 144px;
    height: 51px;
}

.nav-item img {
    max-height: 51px !important;
}
#githubicon {
    transition: 300ms;
}

#githubicon:hover {
    transition: 300ms;
    color: #EE424B !important;
}